<!-- Javascript to build the map -->
<script type="text/javascript">
  var geocoder;
  var map;
  var marker;
  var infowindow;
  var infoWindowContent;

  function initialize() {
    geocoder = new google.maps.Geocoder();

    var myLatLng = new google.maps.LatLng(<%= @place.latitude ? @place.latitude : 5 %>, <%= @place.longitude ? @place.longitude : -58 %>);

    var mapOptions = {
      zoom: 17, 
      center: myLatLng
    };

    map = new google.maps.Map(document.getElementById('map-canvas'), mapOptions);

    marker = new google.maps.Marker({
      position: myLatLng,
      map: map, 
      title: 'Hello World!',
      draggable: true,
      animation: google.maps.Animation.DROP 
    });
    
    infoWindowContent = '<%= form_for(@place) do |f| %>' +
                            <% if @place.errors.any? %>
                                '<h2><%= pluralize(@place.errors.count, "error") %> prohibited this place from being saved:</h2>' + 
                                '<ul>' + 
                                    <% @place.errors.full_messages.each do |message| %>
                                        '<li><%= message %></li>' + 
                                    <% end %>
                                '</ul>' + 
                            <% end %>
                            '<div class="field">' + 
                                '<%= f.label :description %><br>' + 
                                '<textarea name="place[description]" id="place_description">' + 
                                    '<%=  escape_javascript(@place.description) %>' + 
                                '</textarea>' + 
                            '</div>' + 
                            '<div class="field">' + 
                                '<%= f.label :address %><br>' + 
                                '<%= f.text_field :address %>' + 
                            '</div>' + 
                            '<div class="field" id="latitude_field">' + 
                                '<%= f.label :latitude, id: "latitude_label" %><br>' + 
                                '<%= f.text_field :latitude %>' + 
                            '</div>' +  
                            '<div class="field" id="longitude_field">' + 
                                '<%= f.label :longitude, id: "longitude_label" %><br>' + 
                                '<%= f.text_field :longitude %>' + 
                            '</div>' + 
                            '<div class="field" id="rooms_field">' + 
                                '<%= f.label :rooms %><br>' + 
                                '<%= f.number_field :rooms %>' + 
                            '</div>' + 
                            '<div class="field" id="bathrooms_field">' + 
                                '<%= f.label :bathrooms %><br>' + 
                                '<%= f.number_field :bathrooms %>' + 
                            '</div>' + 
                            '<div class="field" id="available_field">' + 
                                '<%= f.label :available %><br>' + 
                                '<%= f.check_box :available %>' + 
                            '</div>' + 
                            '<div class="field">' + 
                                '<%= f.label :price %><br>' + 
                                '<%= f.number_field :price %>' + 
                            '</div>' + 
                            '<div class="field" id="contact_field">' + 
                                '<%= f.label :contact %><br>' + 
                                '<%= f.text_field :contact %>' + 
                            '</div>' + 
                            '<div class="actions">' + 
                                '<%= f.submit %>' + 
                            '</div>' + 
                        "<% end %>" + 
                        '<%= link_to "Show", @place %> | ' + 
                        '<%= link_to "Back", places_path %> | ' + 
                        '<%= link_to "Delete", @place, method: :delete, data: { confirm: "Are you sure?" } %>';
    
    infowindow = new google.maps.InfoWindow({
        content: infoWindowContent
    });

    google.maps.event.addListener(marker, 'dragend', setLatLng);

    function setLatLng() {
      var position = marker.getPosition()
      
      if(location.pathname.split("/")[2] === "new"){
          document.forms['new_place'].place_latitude.value = position.A
          document.forms['new_place'].place_longitude.value = position.F 
      } else {
          document.forms['edit_place_<%= params["id"] %>'].place_latitude.value = position.A
          document.forms['edit_place_<%= params["id"] %>'].place_longitude.value = position.F 
      }
      map.panTo(position);

      reverseGeocode();
    };
    
    infowindow.open(map, marker);
  };

  function codeAddress() {
    var address = document.getElementById('address').value;

    geocoder.geocode({ 'address' : address }, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        marker.setPosition(results[0].geometry.location);
      } else {
        alert('Geocode unsucessful because of: ' + status);
      }
    });
  }

  function reverseGeocode() {
      if(location.pathname.split("/")[2] === "new"){
        var latitude = document.forms['new_place'].place_latitude.value;
        var longitude = document.forms['new_place'].place_longitude.value;
      } else {
        var latitude = document.forms['edit_place_<%= params["id"] %>'].place_latitude.value;
        var longitude = document.forms['edit_place_<%= params["id"] %>'].place_longitude.value;
      }

    var latLng = new google.maps.LatLng(latitude, longitude);

    geocoder.geocode( { 'latLng' : latLng }, function(results, status) {
      console.log(results);

      var address = results[0].formatted_address;

        if(location.pathname.split("/")[2] === "new"){
            document.forms['new_place'].place_address.value = address;
        } else {
            document.forms['edit_place_<%= params["id"] %>'].place_address.value = address;
        }
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<!-- The actual map is here -->
<div id="panel">
  <input id="address" type="textbox" value="Georgetown, Guyana">
  <input type="button" value="Geocode" onclick='codeAddress()'>
</div>
<div id="map-canvas">
</div>