<p id="notice"><%= notice %></p>

<!-- API request -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>" %>>
</script>

<!-- Javascript to build the map -->
<script type="text/javascript">
  function initialize() {
    var mapOptions = {
      center: { lat: -34.397, lng: 150.644 }, 
      zoom: 8
    };
    var map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);
  }
  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<!-- The actual map is here -->
<div id="map-canvas">
</div>

<p>
  <strong>Description:</strong>
  <%= @place.description %>
</p>

<p>
  <strong>Address:</strong>
  <%= @place.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @place.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @place.longitude %>
</p>

<p>
  <strong>Rooms:</strong>
  <%= @place.rooms %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @place.bathrooms %>
</p>

<p>
  <strong>Available:</strong>
  <%= @place.available %>
</p>

<p>
  <strong>Price:</strong>
  <%= @place.price %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @place.contact %>
</p>

<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
