<!DOCTYPE html>
<html>
<head>
  <title>Homein</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- API request -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>" %>>
    </script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
</head>
<body>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= yield %>

<div id="map-canvas">
</div>

<%= javascript_tag do %>
    window.environment = "<%= Rails.env %>";
<% end %> 

<% if user_signed_in? %>
    <ul id="navigation_links">
    	<li>
    		<%= link_to current_user.email, page_path(id: "currentuser"), :id => "logged_in" %>
    	</li>
    	<li>
    		<%= link_to 'Logout', destroy_user_session_path, :method => :delete, :id => "logout" %>
    	</li>
    	<li>
    	    <%= link_to 'Home', root_path %>
    	</li>
    	<li>
    	    <%= link_to 'New Place', new_place_path %>
    	</li>
	</ul>
<% else %>
    <ul id="navigation_links">
    	<li>
    		<%= link_to 'Login', new_user_session_path, :id => "login" %>
    	</li>
    	<li>
    	    <%= link_to 'Register', new_user_registration_path, :id => "register" %> 
    	</li>
    	<li>
    	    <%= link_to 'Home', root_path %>
    	</li>
	</ul>
<% end %>

</body>
</html>
