<!DOCTYPE html>
<html>
<head>
  <title>Homein</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <!-- API requests -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>" %>>
    </script>
    <script type="text/javascript" src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
    
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>

<p id="notice"><%= notice %></p>
<p id="alert"><%= alert %></p>

<%= javascript_tag do %>
    window.environment = "<%= Rails.env %>"
    <% if current_user %>
        currentuser = <%= current_user.id %>
    <% end %>
<% end %> 

<div id="map-canvas">
</div>

<div class="container" id="main_container">
    <%= yield %>
    
    <% if !current_page?(root_path) %>
      <div id="options-container">
    <% end %>
    <% if user_signed_in? %>
        <ul id="navigation_links" class="two-column">
    		<%= link_to root_path, :title => "Home" do %>
    		    <i class="fa fa-home"></i>
    		<% end %>
        	<%= link_to page_path(id: "currentuser"), :id => "logged_in", :title => "View your places" do %>
                <i class="fa fa-user"></i>
        	<% end %>
    	    <%= link_to destroy_user_session_path, :method => :delete, :id => "logout", :title => "Logout" do %>
                <i class="fa fa-sign-out"></i>
    	    <% end %>
    	    <%= link_to new_place_path, :title => "Add a place" do %>
    	      <i class="fa fa-plus"></i>
    	    <% end %>
    	</ul>
    <% else %>
        <ul id="navigation_links">
            <%= link_to root_path do %>
    	        <i class="fa fa-home"></i>
    	    <% end %>
    		<%= link_to new_user_session_path, :id => "login", :title => "Login" do %>
    		    <i class="fa fa-sign-in"></i>
    		<% end %>
    	    <%= link_to new_user_registration_path, :id => "register", :title => "Register" do %> 
                <i class="fa fa-user-plus"></i>
    	    <% end %>
    	</ul>
    <% end %>
    </div> <!-- Close the #options-container div -->
</div>

</body>
</html>
